.HomePage {
    .app-name {
        font-size: 3rem;
        margin: 30px auto;
        justify-content: center;
        text-align: center;
    }
    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }
}