.navbar {
  width: 100%;
  background-color: #044d5f;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;

    &:hover {
      color: cryan;
    }
  }
}